body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    text-align: center;
    background-image: url('../images/background-court.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.instructions {
    text-align: left;
}

.game-intro {
    float: left;
    margin-top: 9px;
    margin-left: 25px;
    background-image: url('../images/swish.jpg');
    background-size: cover;
    color: white
    
}
.game-intro h1{
    color: rgb(223, 132, 14);
    position: relative;
    top: 55px;
    font-size: 40px;
}
.game-intro h2{
    color: rgb(223, 132, 14);
}
.title-ball {
    width: 35px;
    height: 32px;
}

.logo-image {
    width: 450px;
    
}

#start-button{
    width: 235px;
    height: 75px;
    background-color: rgb(233, 132, 14,0.8);
    margin: 50px;
    font-size: 30px;
}

.game-info{
    text-align: center;
    margin-top: 10px;
}
canvas {
    margin-top: 9px;
    background-image: url('../images/bball-court.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    
}


#game-over-red-ball{
    text-align: center;
    font-size: 25px;
    color: black;
    padding-bottom: 100px;
}
.red-ball{
    position: relative;
    width: 90px;
    height: 90px;
    left: 435px;
    bottom: 300px
}
.game-over{
    margin-right: 120px;
    margin-top: 25px;
}
.refresh {
    color: black;
    font-size: 30px;;
}

#game-over-orange-ball{
    text-align: center;
    font-size: 25px;
    color: black
}

.orange-ball{
    height: 450px;
    width: 650px;
    margin-top: 25px;
}

#score {
    font-size: 50px;
    color:red;
    
    
}
#lives {
    font-size: 50px;
    color: yellow;
}
@font-face {
    font-family: DangerOnTheMotorway;
    src: url('../fonts/DangerOnTheMotorway-xV10.ttf')
}
.display-score {
    font-family: DangerOnTheMotorway;
    font-size: 50px;
    color: red;
    margin-right: 650px;
    margin-top: 50px;
    background-color:black;
    padding: 7px;
    display: inline;
}
.display-lives {
    font-family: DangerOnTheMotorway;
    font-size: 50px;
    color: yellow;
    margin-left: 0px;

    padding: 7px;
    display: inline;
}

#restart-button-orange {
    position:relative;
}